*.pkl
*.csv
*.gz
image_features_test/
image_features_train/
images_train/
images_test/

music_train/
music_test/
music_features_train/
music_features_test/


cookies.txt
downloaded_videos.txt
thumbnails/
val_urls.txt
links/
past_datasets/